

        <!-- {{detail.IncidentNumber}}
        {{detail.Subject}}
        {{detail.Description}}
        {{detail.CreatedOn}} -->

        <div class="container">
        <h1> </h1>
        <details>
           <summary>IncidentNumber:{{detail.IncidentNumber}} </summary>
           <div class="summeryclass">Subject:{{detail.Subject}}</div>
            <div class="summeryclass"> Description:{{detail.Description}}</div>
               <div class="summeryclass">CreatedOn:{{detail.CreatedOn}}</div> 
        </details>
       </div> 

       <!-- <div class="container">
         <h1>חפש קריאה</h1>
           <div class="select-wrapper">
             <select class="select">
                  <div *ngFor="let p of detail.IncidentNumber; index as i; first as isFirst" dir="rtl">  -->
                      <!-- <option value={{detail.IncidentNumber}}>{{detail.IncidentNumber}}</option>
                <option value="value3">BB</option>
               <option value="value3">C</option> -->
            <!--  </div> 
             </select>
           </div>
       </div> -->